<?xml version="1.0"?>

<robot name="vehiculo_urdf_v2" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="ground_truth_on" default="true" />

    <xacro:include filename="$(find vehicle_description)/urdf/vehiculo_urdf_v2.urdf" />
    <xacro:include filename="$(find vehicle_description)/urdf/vehiculo_macros.xacro" />
    <xacro:include filename="$(find vehicle_description)/urdf/vehiculo_gazebo.xacro" />
    <xacro:vehicle_sensors ground_truth_on="$(arg ground_truth_on)" />

    <!-- Degree-to-radian conversions -->
    <xacro:property name="degrees_45" value="0.785398163" />
    <xacro:property name="degrees_90" value="1.57079633" />

    <!-- chassis_length is measured along the x axis, chassis_width
       along the y axis, and
    chassis_height along the z axis. -->
    <xacro:property name="chassis_length" value="0.23208" />
    <xacro:property name="chassis_width" value="0.17" />
    <xacro:property name="chassis_height" value="0.17925" />
    <xacro:property name="chassis_mass" value="0.65815" />


    <link name="base_footprint"> </link>

    <gazebo reference="base_footprint">
        <material>Gazebo/Grey</material>
    </gazebo>


    <joint name="base_footprint_to_base_link" type="fixed">
        <parent link="base_footprint" />
        <child link="base_link" />
    </joint>


    <!-- Wheels -->
    <xacro:front_wheel lr_prefix="left" fr_prefix="front"
        lr_reflect="1" fr_reflect="1" />
    <xacro:front_wheel lr_prefix="right" fr_prefix="front"
        lr_reflect="-1" fr_reflect="1" />
    <xacro:rear_wheel lr_prefix="left" fr_prefix="rear"
        lr_reflect="1" fr_reflect="-1" />
    <xacro:rear_wheel lr_prefix="right" fr_prefix="rear"
        lr_reflect="-1" fr_reflect="-1" />

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
        </plugin>
    </gazebo>

</robot>